/* ready style */
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100dvh;
}

.block .blogName {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #F9F9F9;
}

.block .comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #999;
}
